.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.enter {
  opacity: 0;
  max-height: 0;
  transform: scale3d(0.8,0.8,0.8);
  transition: all 300ms ease-in-out;
}

.enter-active {
  opacity: 1;
  max-height: 3rem;
  transform: scale3d(1,1,1);
  transition: all 300ms ease-in-out;
}

.leave {
  opacity: 1;
  max-height: 3rem;
}

.leave-active {
  opacity: 0;
  max-height: 0;
  transform: scale3d(0.8,0.8,0.8);
  transition: all 300ms ease-in-out;
}
