body {
    background-color: #dfffff;
    font-family: Courier New, Courier, monospace;
}

.list-item {
    display: flex;
    padding: 1rem;
    box-sizing: border-box;
    margin-bottom: 1rem;
    background: #fcadff;
    border-radius: 0.5rem;
    transition-duration: 0.3s;
    cursor: pointer;
}

.list-item:hover {
    background: #f36bfa;
    color: white;
}

.list-item-checked {
    display: flex;
    padding: 1rem;
    box-sizing: border-box;
    margin-bottom: 1rem;
    background: #f36bfa;
    border-radius: 0.5rem;
    transition-duration: 0.3s;
    cursor: pointer;
    color: white;
}
