.form-title {
    /*font-weight: bold;*/
    margin: 0 0 1em;
    text-align: center;
    /*width: 100%;*/
    padding: 0 0 1em;
    border-bottom: 1.5px dotted rgb(255, 203, 255);
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.login-form {
    position: relative;
    left: 23cm;
    top: 5cm;
    padding: 1em;
    box-sizing: border-box;
    margin: 1em;
    border-radius: 1em;
    background: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    max-width: 600px;
}

.input-line {
    margin: 1em 0;
    display: block;
}

body {
    background-color: #dfffff;
    font-family: Courier New, Courier, monospace;
}

input {
    border: none;
    border-radius: 3px;
    outline: none;
    line-height: 1.5em;
    padding: 0.25em;
    box-sizing: border-box;
    font-size: 1rem;
    display: inline;
    flex: 1 1 100%;
}

label {
    position: relative;
    
    display: flex;
    margin-left: 0.5em;
    margin-right: 0.5em;
    align-items: center;
    border-bottom: 2px dotted rgb(255, 203, 255);
}

label input {
    margin-left: 1rem;
}

/* label:nth-of-type(odd) {
    background: grey;
} */

.underline-form {
    position: absolute;
    bottom: -1px;
    height: 1px;
    width: 0;
    left: 50%;
    right: 50%;
    background: linear-gradient(to left, rgb(255, 212, 245) 100%, #d0fcfc 100%);
}

input:focus ~ .underline-form {
    left: 0;
    right: 0;
    width: auto;
    transition: left 300ms ease-in-out, right 600ms ease-in-out;
}

button {
    border-radius: 1em;
    width: 100%;
    text-align: center;
    transition-duration: 0.3s;
    font-size: 1em;
    background: linear-gradient(to left, rgb(255, 212, 245) 30%, #d0fcfc 100%);

    padding: 0.5em 0;
    border: none;
    box-sizing: border-box;
    cursor: pointer;
    font-family: Courier New, Courier, monospace;
}

button:hover {
    box-shadow: 0 4px 8px 0 rgb(255, 212, 245);
}

button:focus {
    outline: none;
    box-shadow: inset 0 1px 4px 0 rgb(255, 212, 245);
}
