body {
    background-color: #a3ddff;
    font-family: Courier New, Courier, monospace;
}

.post {
    padding: 1rem;
    box-sizing: border-box;
    margin: 0.5rem;
    margin-bottom: 1rem;
    background: #ffffff;
    word-wrap: break-word;
    transition-duration: 0.3s;
    position: relative;
    max-width: 31em;
    min-height: 150px;
    min-width: 12em;
}

.post .buttons {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  vertical-align: text-bottom;
  position: absolute;
  bottom:10px;
  left: 10px;
}

.post .likes button {
    padding: 10px;
    margin: 5px;
    margin-right: 0px;
    background-color: #0066FF;
    border-radius: 0.2rem;
    color: #FFF;
    border: 2px solid #0066FF;
  }
  

  .post .likes button:hover {
    background-color: #003399;
    border: 2px solid #003399;
    cursor: pointer;
  }

  .post .remove button {
    padding: 10px;
    margin: 5px;
    margin-right: 0px;
    background-color: #0066FF;
    border-radius: 0.2rem;
    color: #FFF;
    border: 2px solid #0066FF;

  }

  .post .remove button:hover {
    background-color: #003399;
    border: 2px solid #003399;
    cursor: pointer;
  }
  

  .post .unliked button {
    opacity:0;
  }

  .post .liked button {
    font-size: 20pt;
    margin-right: 0px;
    position: absolute;
    bottom:15px;
    right: 5px;
    background-color: #FFFFFF;
    border-radius: 0.2rem;
    color: #003399;
    border: 2px solid #FFFFFF;
  }