.App {
  font-family: Courier New, Courier, monospace;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.postListMain .header input {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #FFF;
  border-radius: 0.2rem;
  width: 300px;
}

.postListMain .header input:enabled {
  font-family: Courier New, Courier, monospace;
  border-radius: 0.2rem;
}

.postListMain .header button {
  font-family: Courier New, Courier, monospace;
  padding: 10px;
  font-size: 16px;
  margin: 10px;
  margin-right: 0px;
  background-color: #0066FF;
  color: #FFF;
  border: 2px solid #0066FF;
  border-radius: 0.2rem;
}
.postListMain .header button:hover {
  background-color: #003399;
  border: 2px solid #003399;
  border-radius: 0.2rem;
  cursor: pointer;
}


.posts {
  text-align: left;
  padding: 10px;
  margin: 10px;
  margin-right: 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.postListMain {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.enter {
  opacity: 0;
  max-height: 0.5;
  transform: scale3d(0.8,0.8,0.8);
  transition: all 300ms ease-in-out;
}

.enter-active {
  opacity: 1;
  max-height: 3rem;
  transform: scale3d(1,1,1);
  transition: all 300ms ease-in-out;
}

.leave {
  opacity: 1;
  max-height: 3rem;
}

.leave-active {
  opacity: 0;
  max-height: 0;
  transform: scale3d(0.8,0.8,0.8);
  transition: all 300ms ease-in-out;
}

.row {
  align-items: center;
}


